.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 136px auto 0px;
    width: 940px;
    min-height: 340px;
    background-color: $light-background;
    padding: 60px 64px;
    border-radius: 5px;
    box-shadow: $shadow;


    h1{
        font-size: 80px;
        line-height: 98px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    p{
        color: $white;
    }

    @media screen and (max-width: 980px) {
        width: 90%;
        padding: 50px 30px;

        h1{
            font-size: 60px;
        }
    }
}