.hello{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

    h1{
        font-family: $main-font;
        font-size: 80px;
        line-height: 98px;
        text-align: center;
        color: $white;
        text-shadow: 0 0 10px $gold;
    }

    .image-me{
        width: 250px;
        height: 250px;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 10px #333;

        img{
            width: 110%;
        }
    }
}