.knowledge{
    width: 80%;
    min-height: 352px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;

    .icon{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            border-radius: 50%;
        }
    }

    .description{
        background-color: $light-background;
        color: $white;
        border-radius: 5px;
        display: none;
        width: 80%;
        min-height: 352px;
        padding: 0 50px;
        align-items: center;
        gap: 50px;
        opacity: 0;

        h3,
        span{
            color: $gold;
        }
    }

    .is-active{
        display: flex;
        animation: show 2s ease-in;
    }

    .pulse{
        animation: pulse 1s ease-in;
    }

    @keyframes show {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    @keyframes pulse{
        from{
            box-shadow: 0 0 0 0 rgba(255, 122, 0 ,0.3);
        }
    
        to{
            box-shadow: 0 0 0 90px rgba(255,122,0,0);
        }
    }

    @media screen and (max-width: 981px) {
        width: 90%;
        flex-direction: column;

        .icon{
           border-radius: 50%;
        }

        .description{
            padding: 80px 50px;
            height: auto;
            width: 100%;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 50px;
        .icon{
            height: 50px;
            width: 150px;
            border-radius: 50px;
            background: transparent;
            margin: 50px auto;
        }

        .description{
            width: 100%;
            min-height: 100px;
            height: auto;
            border-radius: 5px;
            flex-direction: column;
        }
    }
}