$white: #FFFFFF;
$grey: #c4c4c4;
$gold: #daa520;
$background: #090909;
$black: #000000;
$light-background: #141414;
$shadow: 0 0 10px $black;
$main-font: 'Montserrat', sans-serif;

@import './NavBar';
@import './Hello';
@import './About';
@import './Title';
@import './ProjSection';
@import './Experience';
@import './Courses';
@import './Knowledge';
@import './Contact';
