@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import './components/styles/Global';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #090909;
  overflow-x: hidden;
}


.App{
  max-width: 1280px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
